.banner{
    background: url(https://i.pinimg.com/originals/54/47/c7/5447c76323d6f6f93c24eba837587b97.jpg) center center;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.banner__searchButton{
    background-color: white !important;
    text-transform: inherit !important;
    font-weight: 900 !important;
    color: #FF7779 !important;
    /* width: 100%; */
}
.banner__search{
    display: flex;
    flex-direction: column;
}
.banner__info{
    background-color: black;
    color: white;
    padding-top: 20vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 400px;

}
.banner__info > button{
    background-color: #FF7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > h5{
    margin-top: 10px;
}

.banner__info> button:hover{
    background-color: white;
    color: #FF7779;
}